{% extends "base.html" %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="has-text-centered">
      <h1 class="title is-2">
        <span class="icon">
          <i class="fas fa-tags"></i>
        </span>
        Tags
      </h1>
      <p class='subtitle is-4'>{{ terms | length }} tags in total</p>
      <p>
        {% for tag in terms %}
        <a style="display: inline-block;" href="{{ get_taxonomy_url(kind='tags', name=tag.name) }}" class="mr-4">
          <span class="icon">
            <i class="fas fa-tag"></i>
          </span>
          <span>{{tag.name}} <sup>{{ tag.pages | length }}</sup></span>
        </a>
        {% endfor %}
      </p>
    </div>
    <div style="padding-top: 40px;"></div>
    <div>
      {%- for term in terms %}
      <article class="box">
        <h2 class="title">
          <a class="has-text-dark" href='{{ term.permalink | safe }}{%- if uglyurls %}index.html{%- endif %}'>
            {{ term.name }}
          </a>
        </h2>
        {%- for page in term.pages %}
        <p><a href="{{ page.permalink | safe }}{%- if uglyurls %}index.html{%- endif %}">{{ page.title }}</a>  -  <time datetime="{{ page.date }}">{{ page.date | date(format='%B %d, %Y') }}</time></p>
        {%- endfor %}
      </article>
      {%- endfor %}
    </div>
  </div>
</section>
{% endblock content %}
