{% extends "base.html" %}

{% block content %}
<section class="section">
      <div class="container">
        <div class="has-text-centered">
          <h1 class="title is-1">{{ section.title }}</h1>
          <p class="subtitle is-3">{{ section.description }}</p>
          {% if config.extra.author.avatar %}
          <figure class="image is-flex is-justify-content-center is-align-items-center">
            <img class="is-rounded" src="{{ config.extra.author.avatar }}" style="max-width: 500px" />
          </figure>
          {% endif %}
          {{ macros:: social_links( social_config=config.extra.social) }}
        </div>
        <div class="columns is-centered">
          <div class="column is-10">
            <div class="content">
              {{ section.content | safe }}
            </div>
          </div>
        </div>
      </div>

      <!-- Personal Highlights -->
      <div class="container">
        <div class="has-text-centered">
          <h1 class="padded-title title is-1"> Personal Highlights </h1>
        </div>

        <div class="columns is-centered">
          <div class="column is-11">
            <div class="columns is-centered">
              {% set projects = get_section(path="projects/_index.md") %}
              {% set pages = projects.pages | sort(attribute='extra.weight') %}

              <!-- First Column -->
              <div class="column is-6">
                {% for page in pages %}
                {% if loop.index % 2 == 1 %}
                  {{ macros::render_project_box(page=page) }}
                {% endif %}
                {% endfor %}
              </div>

              <!-- Second Column -->
              <div class="column is-6">
                {% for page in pages %}
                {% if loop.index % 2 == 0 %}
                  {{ macros::render_project_box(page=page) }}
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Recent Posts -->
      <div class="container">
        <div class="has-text-centered">
          <h1 class="padded-title title is-1"> Recent posts </h1>
        </div>
        {% set blog_section = get_section(path="blog/_index.md") %}
        {% set research_section = get_section(path="research/_index.md") %}
        {% set combined_pages = blog_section.pages | concat(with=research_section.pages) %}
        {% set recent_posts = combined_pages | sort(attribute='date') | reverse | slice(end=3) %}

        <div class="recent-posts">
          <div class="columns is-centered">
            <div class="column is-10">
              {% for page in recent_posts %}
                <article class="box">
                  <h2 class="title">
                    <a class="has-text-dark" href='{{ page.permalink }}'>
                      {{ page.title }}
                    </a>
                  </h2>
                  <p class="subtitle">{{ page.description }}</p>
                  <div class="columns is-multiline is-gapless">
                    <div class="column is-8">
                      {{ macros::page_publish_metadata(page=page) }}
                    </div>
                    <div class="column is-4 has-text-right-desktop">
                      {{ macros::page_content_metadata(page=page) }}
                    </div>
                  </div>
                  <div class="content mt-2">
                    {% if page.summary %}
                      {{ page.summary | truncate(length=360) | safe }}
                    {% endif %}
                  </div>
                  <div class="columns">
                    <div class="column">
                      {% if page.taxonomies.categories %}
                      {{ macros::render_categories(categories=page.taxonomies.categories) }}
                      {% endif %}
                    </div>
                    <div class="column has-text-right-desktop">
                      {% if page.taxonomies.tags %}
                      {{ macros::render_tags(tags=page.taxonomies.tags) }}
                      {% endif %}
                    </div>
                  </div>
                </article>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}


